<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC  
    "-//mybatis.org//DTD Config 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-config.dtd">  
  
<configuration> 
	
	<properties resource="config/dbname.properties"/>
	
	<settings>
		<setting name="cacheEnabled" value="false"/> 		
	</settings>
		
    <mappers>  
    	<!-- 基础数据管理模块 -->
    	<mapper resource="mybatis/mapper/metaManagement/cardManagement.xml"/> 
        <mapper resource="mybatis/mapper/metaManagement/departManagement.xml"/>   
        <mapper resource="mybatis/mapper/metaManagement/lockManagement.xml"/>  
        <mapper resource="mybatis/mapper/metaManagement/peopleManagement.xml"/>  
    	<mapper resource="mybatis/mapper/metaManagement/repeaterManagement.xml"/> 
        <mapper resource="mybatis/mapper/metaManagement/unitLocationManagement.xml"/>   
       
    
    	<!-- 测试 -->
        <mapper resource="mybatis/mapper/menuManagement/menuManagement.xml"/> 
        <mapper resource="mybatis/mapper/metaManagement/metaManagement.xml"/>   
        <mapper resource="mybatis/mapper/dormManagement/dormManagement.xml"/>  
        <mapper resource="mybatis/mapper/systemManagement/systemManagement.xml"/>   
    </mappers>  
    
    
    
    
</configuration>
